/* Files.css */

.category-container {
    margin-bottom: 20px;
}

.category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
}

.category-header h5 {
    margin: 0;
}

.table th, .table td {
    text-align: center;
}

.table td {
    vertical-align: middle;
}
