/* Common Styles */
:root {
    --primary-color: #FFC107;
    --secondary-color: #212121;
    --button-color: #ee4710;
    --button-hover-color: #FFA500;
    --card-bg-color: #f8f9fa;
    --font-family: 'Arial', sans-serif;
}

body {
    font-family: var(--font-family);
}

/* Container Styles */
.file-upload-container,
.magnet-link-container {
    background-color: var(--card-bg-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0px auto;
}

.title {
    color: var(--primary-color);
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 15px;
}

/* Input Group */
.input-group {
    display: flex;
    gap: 10px;
}

.input-file,
.input-text {
    flex: 1;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    font-size: 1rem;
}

/* Buttons */
.btn, button .btn-upload {
    background-color: var(--button-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--button-hover-color);
}

.btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.btn-upload {
    background-color: var(--primary-color);
}

.btn-add {
    background-color: var(--button-color);
}

/* Alerts */
.alert {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    font-size: 0.9rem;
    text-align: center;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}
