:root {
  --primary-color: #FFC107;
  --secondary-color: #212121;
  --additional-color-orange: #FFA500;
  --additional-color-gray: #808080;
  --button-color: #ee4710;
}

/* Main Container */
.contactusContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 40px auto;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contactTitle {
  margin-bottom: 15px;
  font-size: 26px;
  font-weight: bold;
  color: var(--secondary-color);
}

.contactDsc {
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
  color: var(--additional-color-gray);
}

/* Form Styles */
.contactForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--secondary-color);
}

.input,
.textArea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
  margin-bottom: 15px;
  font-size: 14px;
}

.input:focus,
.textArea:focus {
  border-color: var(--additional-color-orange);
  box-shadow: 0 0 8px rgba(255, 165, 0, 0.3);
  outline: none;
}

.textArea {
  resize: vertical;
  min-height: 120px;
}

.submitBtn {
  background-color: var(--button-color);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 12px 20px;
  cursor: pointer;
  max-width: 200px;
  margin: 20px auto 0;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s, transform 0.2s;
}

.submitBtn:hover {
  background-color: var(--additional-color-orange);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .contactusContainer {
    padding: 20px;
  }

  .submitBtn {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .contactusContainer {
    width: 80%;
    padding: 15px;
  }

  .submitBtn {
    width: 100%;
  }
}
