:root {
  --primary-color: #FFC107; /* Vibrant Orange */
  --secondary-color: #212121; /* Dark Gray */
  --additional-color-orange: #FFA500; /* Orange */
  --additional-color-gray: #808080; /* Gray */
}

.privacypolicyContainer {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px 20px 30px 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.privacypolicyContainer h1 {
  font-size: 28px;
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 20px;
}

.policySection {
  margin-top: 20px;
}

.policySection h2 {
  font-size: 20px;
  color: var(--primary-color);
}

.policySection p {
  font-size: 16px;
  color: var(--additional-color-gray);
  line-height: 1.6;
  margin-top: 10px;
  text-align: left;
}
