@media screen and (max-width: 768px) {

    .dashboardTabs {
        width: 300px;
    }
    
    .dashboardContainer button {
        margin-right: 0px;
        font-size: 15px;
        padding: 0px -10px 0 5px;
        gap: 0px;
    }
    
    .dashboardContainer .dashboardTabs-icon {
        margin-right: 5px ;
      }
}

@media screen and (max-width: 425px) {

    .dashboardTabs {
        width: 200px !important;
    }
    
    .dashboardContainer button {
        margin-right: 0px;
        font-size: 12px;
    }
    
}

@media screen and (max-width: 375px) {

    .dashboardTabs {
        width: 100px !important;
    }
    
    .dashboardContainer button {
        margin-right: 0px;
        font-size: 10px;
    }
    
}

@media screen and (max-width: 320px) {

    .dashboardTabs {
        width: 100px !important;
    }
    
    .dashboardContainer button {
        margin-right: 0px;
        font-size: 8px;
    }
    
}